:root {
    --main: rgb(57, 74, 107);
    --sec: rgb(213, 223, 231);
    --grey: rgb(236, 236, 234);

}
#controlPanel{
    margin: 30px auto;
    width: 600px;
    border: solid 5px var(--main);
    border-radius: 15px;
    padding: 20px;
    background-image: url('img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: cover;  */
}
#controlPanel button {
    font-family: webdings;
    font-size: 1.5rem;
    color: var(--main);
    border: var(--sec) 1.5px solid;
    border-radius: 5px;
    padding: 5px;
    margin: 0.25rem;
}
#controlPanel input {
    font-size: 1rem;
    color: var(--main);
    border:  1px solid;
    border-radius: 5px;
    margin-right: 0.25rem;
}
#controlPanel div:nth-of-type(1){
    width: 500px;
    margin: 20px auto;
    text-align:end
    }
#controlPanel div:nth-of-type(2){
    width: 300px;
    margin: 20px auto;
    text-align:end
}
#controlPanel div:nth-of-type(3){
    width: 350px;
    margin: 0 auto;
    text-align: center;
}
#controlPanel select{
    width: 100%;
    font-size: 1.5rem;
    background-color: var(--main);
    color: var(--sec);
    padding: 10px 0;
    margin: 10px auto;
}
.bar {
    width: 160px;
    height: 8px;
    border-radius: 4px;
    appearance: none;
}

.bar::-webkit-slider-thumb {
    appearance: none;
    background: var(--main);
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

div p{
    width: 250px;
    border: 1px var(--main) solid;
    margin: 15px auto;
}

body{
    background-color: rgb(48, 62, 90);
}